 /* The custom-switch - the box around the slider */
 .custom-switch {
    position: relative;
    width: 250px;
    height: 34px;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    /* margin: .5rem; */
  }
  
/* Hide default HTML checkbox */
.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-background);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: inset 1 1px 6px var(--container-shadow), 0 3px 6px -8px var(--container-back);
}

.custom-switch .left {
    grid-column: 1;
}

.custom-switch .right {
    grid-column: 2;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    left: 0%;
    bottom: 0%;
    background-color: var(--fill-color);
    border-radius: 4px;
    box-shadow: 1px 1px 6px var(--container-shadow);
    border-right: 1px solid var(--border);
    box-sizing: border-box;
}

.custom-switch.disabled > .slider:before {
    background-color: #acacac;
    box-shadow: none;
}

input:checked + .slider:before {
    border-radius: 4px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    box-shadow: -1px 1px 6px var(--container-shadow);
    border-left: 1px solid var(--border);
    border-right: none;
}

.custom-switch.disabled > .slider {
    background-color: #7c7c7c;
    cursor: not-allowed;
    box-shadow: none;
}

.custom-switch.disabled {
    cursor: not-allowed;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.left, .right {
    z-index: 1;
    text-align: center;
    width: 125px;
    grid-row: 1;
    font-weight: 400;
}

input:checked ~ .left {
    color: var(--text-default);
}

input:checked ~ .right {
    color: black;
}

.right {
    color: var(--text-default);
}

.left {
    color: black;
}

.custom-switch > input {
    display: none;
}