#weather-canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;
    display: block;
}

.chart-wrapper {
    height: 100%;
    width: 100%;
    min-height: 0;
    grid-column: 2;
    grid-row: 2;
}

#chart-and-axes-wrapper {
    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: 30px auto;
    height: 100%;
    width: 100%;
}

.years-labels {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    width: 4rem;
}

.year-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather-bars {
    display: flex;
    /* max-height: 100vh; */
    height: 100%;
    width: 100%;
    /* min-height: 80vh; */
    /* width: 98vw;
    max-width: 94vw; */
    grid-column: 1;
    grid-row: 1;
    /* z-index: 1; */
    flex-direction: column;
    /* padding: 2em; */
    /* background: var(--container-dark); */
    /* border-radius: 10px; */
    /* border: 1px solid var(--border); */
    position: relative;
    /* box-sizing: border-box; */
    /* align-items: stretch; */
}

.weather-bar-year-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
}

.big-rain-day {
    border-radius: 4px;
}

.year-data-wrapper {
    width: 100%;
    height: 100%;
    min-height: 5px;
    grid-column: 1;
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: left;
    margin-top: -.5px;
}

.heat-year-svg {
    /* height: 100%; */
    width: 100%;
    flex-grow: 10;
    flex-basis: 10;
}

.rain-year-svg {
    /* height: 100%; */
    width: 100%;
    background: var(--container-dark);
}

.rain-year-svg.multi-year {
    height: 100%;
}

.year-data-wrapper.single-year .weather-year-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.weather-year-label {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    width: 60px;
    font-size: 14px;
    flex-shrink: 0;
}

.weather-year {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.weather-tooltip {
    font-family: inherit !important;
    text-align: center !important;
    color: var(--text-default) !important;
    background: var(--container-dark) !important;
    border: 1px solid var(--border) !important;
}

.react-tooltip-arrow {
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.core-styles-module_show__Nt9eE {
    /* transition: none !important; */
    will-change: none !important;
}

.core-styles-module_tooltip__3vRRp {
    will-change: none !important;
}

/* .react-tooltip__closing {
    display: none;
} */

.tooltip-wrapper {
    padding: .5rem;
}

.tooltip-wrapper li {
    margin: .5rem;
    padding: 0;
}

.tooltip-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 1em 0;
}

.xAxis {
    height: 30px;
    width: 100%;
    flex-shrink: 0;
    grid-column: 2;
    grid-row: 1;
}